{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}

<div class="container">
    <h1 class="text-center" style="font-weight: bolder; color: darkblue; text-decoration: underline;">All Pitches</h1>
    <ul class="nav nav-pills nav-justified nav-fill" role="tablist">

        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#project" style="font-weight: bold;">Project
                Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#job" style="font-weight: bold;">Job
                Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#business" style="font-weight: bold;">Business
                Pitches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#quote" style="font-weight: bold;">Quote
                Pitches</a>
        </li>
    </ul>
    <div class="tab-content">

        <div class="container tab-pane fade" id="project"><br>
            {{ macro.display(projectpitch)}}
        </div>
        <div class="container tab-pane fade" id="job"><br>
            {{ macro.display(jobpitch) }}
        </div>
        <div class="container tab-pane fade" id="business"><br>
            {{ macro.display(businesspitch) }}

        </div>
        <div class="container tab-pane fade" id="quote"><br>
            {{ macro.display(quotepitch) }}

        </div>
    </div>
</div>
{% endblock%}