{% macro display(category) %}
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                {%if category%}
                {% for pitch in category %}
                <h5 class="card-title">{{pitch.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{pitch.category}}</h6>
                <p class="card-text">{{pitch.pitch}}</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                {% endfor %}
                {%else%}
                <h4>NO PITCHES</h4>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}